html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-family: serif;
  /* letter-spacing: 0.2em; */
}

#root {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

#wordFreqs > .selected {
  background-color: rgba(0, 222, 0, 0.5);
}

.freq {
  background-color: rgba(0, 192, 192, 0.1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0.5em;
  margin: 0.5em 0.8em;
  flex: 0 0 9em;
  border: 1px solid black;
  border-radius: 1em;
  font-family: sans-serif;
}

.freq:hover {
  transform: scale(1.1);
}

#wordFreqs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1em;
}

.pink {
  background-color: rgba(50, 200, 50, 0.3);
}

.green {
  background-color: rgba(200, 50, 50, 0.3);
}

th, td {
  padding: 0em 1em;
  border: 1px solid black;
}

#searchBox {
  /* width: 1px; */
  margin-bottom: 1em;
}

table {
  margin: 1em;
  border-collapse: collapse;
}

tr>* {
  text-align: center;
}

th {
  padding: 0.5em 0.5em;
}

td {
  padding: 0.3em 0.1em;
}
